<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h4>
      <strong style="color: red;">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
       </strong>
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <span class="text-under-line-red">
          <%= message %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
