<% if current_user != user %>
  <% if current_user.following?(user) %>
    <span class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">フォロー中</button>
      <%= link_to "解除", user_relationships_path(user.id), method: :delete, class: "btn btn-danger", remote: true %>
    </span>
    <span class="pl-1">
      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
        <%= link_to 'chatを始める', chat_path(user.id), class: "btn btn-secondary" %>
      <% end %>
    </span>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-primary", remote: true %>
  <% end %>
<% end %>

<!--整理完了-->