<h1>投稿一覧</h1>

  <% @posts.each do |post| %>
    <%= link_to(book.user) do %>
    <%= image_tag post.user.get_profile_image, size:'50x50' %>
    <% end %>
    <%= post.caption %>
     <%= image_tag post.user.get_profile_image, size:'50x50' %>
    <% end %>

