<%= link_to user_followings_path(@user), class: "btn btn-outline-primary" do %>
  フォロー中<%= @user.followings.count %>人
<% end %>

<span class="pl-1">
  <%= link_to user_followers_path(@user), class: "btn btn-outline-primary" do %>
    フォロワー<%= @user.followers.count %>人
  <% end %>
</span>

<!--整理完了-->