<div class="container mt-5">

  <h3>
  <span class="text-under-line">フォローリスト</span>
</h3>


<% if @users.exists? %>
<div><%= render "public/users/index", users: @users %></div>

<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</div>

<div class="row mx-auto justify-content-center">
     <%= paginate @users %>
</div>