<div class="container mt-5">

  <h3>
  <span class="text-under-line">フォローリスト</span>
</h3>


<% if @users.exists? %>
<div><%= render "public/users/index", users: @users %></div>

<% else %>

<span class="text-under-line-blue">
 フォローしているユーザーはいません
  </span>
<% end %>
</div>

<%= render "public/shared/paginate", obj:  @users %>

