<div class="container mt-5">
  <h3>
  <span class="text-under-line">フォローリスト</span>
</h3>


<% if @users.exists? %>


<%= render "admin/users/index", users: @users %>



<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</div>

<%= render "public/shared/paginate", obj: @users %>

