<div class="container mt-5">
<h3>
  <span class="text-under-line">フォロワーリスト</span>
</h3>

<% if @users.exists? %>

<%= render "admin/users/index", users: @users %>

<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</div>

<div class="row mx-auto justify-content-center">
     <%= paginate @users %>
</div>