<h2>ボウリングの輪を広げよう</h2>
<h2>ボウラーと繋がるSNS</h2>

 <div>
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
 </div>

  <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success" %>