
<div class="container mt-5">

 <h2 class="row">
   <div class="col-5">
    <%= image_tag 'no_image.jpg', size: '400x400'%>
   </div>
   <div class="col-5">
   ボウリングの輪を広げよう
  </div>
</h2>

<h2 class="row mt-3">
   <div class="col-5"></div>
   <div class="col-4">
   <div class="fa-solid fa-bowling-ball"></div>
   Bowlers
  </div>
</h2>


<div class="row">
   <div class="col-5"></div>
   <div class="col-4">〜ボウラーと繋がるSNS〜</div>
</div>

 <div class="row mt-4">
   <div class="col-5"></div>
   <div class="col-4">
     <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
   </div>
 </div>


 <div class="row mt-3">
   <div class="col-5"></div>
   <div class="col-4">
    <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-primary" %>
 </div>
 </div>


  <div class="row mt-3">
   <div class="col-5"></div>
   <div class="col-4">
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success" %>
 </div>
 </div>


</div>