<div class="container mt-5">
  <h3>
    <span class="text-under-line">コメントリスト</span>
  </h3>

  <% if @post_comments.present? %>
    <div>
      <%= render "admin/post_comments/index", post_comments: @post_comments %>
    </div>
  <% else %>
    <div class="row mt-4">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <h5>
          <span class="text-under-line-blue">
            コメントはありません
          </span>
        </h5>
      </div>
    </div>
  <% end %>
</div>

<%= render "public/shared/paginate", obj: @post_comments %>

<!--整理完了-->
