@use '~bootstrap/scss/bootstrap';



.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
  text-align: center;
}


.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  text-align: center;
}
/*青色です*/

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  text-align: center;
}
/*赤色です*/

.pagination>li>a {
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}


.header-bg {
  // 赤色です
  background-color: rgba(105, 105, 105);
}

.text-under-line {
  background: linear-gradient(transparent 60%, rgba(128, 128, 128, 0.2) 40%);
  padding: 0 0.1em;
}