@use '~bootstrap/scss/bootstrap';



.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
  text-align: center;
}


.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  text-align: center;
}
/*青色です*/

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  text-align: center;
}
/*赤色です*/

.pagination>li>a {
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}


.header-bg {
  // 赤色です
  background-color: rgba(105, 105, 105);
}

.text-under-line {
  background: linear-gradient(transparent 60%, rgba(128, 128, 128, 0.2) 40%);
  padding: 0 0.1em;
}

.review-under-line {
  background: linear-gradient(transparent 85%, rgba(128, 128, 128, 0.2) 15%);
  padding: 0 0.1em;
}

.text-under-line-red {
  background: linear-gradient(transparent 60%, rgba(255, 0, 0, 0.2) 40%);
  padding: 0 0.1em;
}

.text-under-line-blue {
  background: linear-gradient(transparent 60%, rgba(0, 0, 255, 0.1) 40%);
  padding: 0 0.1em;
}



:root {
  --swiper-navigation-color: transparent;
  --swiper-pagination-color: transparent;
}


.chat-text-right {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
}

.chat-text-left {
  display: flex;
  align-items: center;
  height: 100%;
  flex-diretion: row;

}


.block-line {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2); /* 下線の色を黒で透明度0.5に指定 */
  padding-bottom: 20px; /* 下線とコンテンツの間隔を調整（必要に応じて調整） */
}