<div class="container mt-5">
<h3>
  <span class="text-under-line">
  ユーザーリスト(管理者側)
  </span>
</h3>


<%= render "admin/users/index", users: @users %>


</div>

<div class="row mx-auto justify-content-center">
     <%= paginate @users %>
</div>