<div class="container mt-5">

<h3>
  <span class="text-under-line">ユーザーリスト</span>
</h3>

<div><%= render "public/users/index", users: @users %></div>

</div>



 <div class="row mx-auto justify-content-center">
     <%= paginate @users %>
</div>