<h5>
<strong>本当に退会しますか？</strong>
</h5>


<%= link_to user_path(current_user), class:"btn btn-primary" do %>
退会しない
<% end %>


<%= link_to withdraw_users_path, method: :patch, class: "btn btn-danger" do %>
退会する
<% end %>
