<% if obj.errors.any? %>
  <div id="error_explanation">
    <h3><%= t "errors.template.header",model:t("models.#{obj.model_name}"),count:obj.errors.count %></h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>